#conflict-overview-form {
  display: none;
}

.conflict-overview-form-description {
  margin-bottom: 1em;
  font-size: 1.1em;
}

#conflict-overview-form details {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}
